name: lint

on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]

    name: check ${{ matrix.python-version }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Set up CPython ${{ matrix.python-version }}
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@b75a909f75acd358c2196fb9a5f1299a9a8868a4 # v6.6
        with:
          version: "0.7.15"
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          uv sync --group dev

      - name: uv-check-lock-file
        id: uv-check-lock-file
        continue-on-error: true
        run: |
          uv lock --check

      - name: ruff-format
        id: ruff-format
        continue-on-error: true
        run: |
          uv run ruff format --check --diff .

      - name: ruff-check
        id: ruff-check
        continue-on-error: true
        run: |
          uv run ruff check --no-fix --output-format=github .

      - name: pyright
        id: pyright
        continue-on-error: true
        run: |
          uv run pyright .

      - name: mypy
        id: mypy
        continue-on-error: true
        run: |
          uv run mypy .

      - name: Check failure
        env:
          text: "\
            ${{ steps.uv-check-lock-file.outcome == 'failure' && 'check lock file,' || '' }}\
            ${{ steps.ruff-format.outcome == 'failure'        && 'ruff format,'     || '' }}\
            ${{ steps.ruff-check.outcome == 'failure'         && 'ruff check,'      || '' }}\
            ${{ steps.pyright.outcome == 'failure'            && 'pyright,'         || '' }}\
            ${{ steps.mypy.outcome == 'failure'               && 'mypy,'            || '' }}\
            "
        run: |
          if [ -n "${text}" ]; then
            echo "failed: ${text}"
            exit 1
          else
            echo "All success"
          fi
